body {
  background-color: rgb(138, 189, 154);
}

html,
body {
  height: 100%;
}

#main {
  height: 100vh;
}

.card {
  margin: 2%;
}

.invisivel{
  display: none;
}

.visivel{
  display: block;
}

.buttoncards {
  font-size: 10%;
}



/* Works on Chrome, Edge, and Safari */
#scrollbarID::-webkit-scrollbar {
  width: 12px;
}

#scrollbarID::-webkit-scrollbar-track {
  background: rgb(138, 189, 154)e;
}

#scrollbarID::-webkit-scrollbar-thumb {
  background-color: rgb(116, 170, 133);
  border-radius: 20px;
  border: 3px solid rgb(109, 185, 133);
}

@media screen and (max-width: 700px) {
  .buttoncards {
    font-size: 50%;
  }

  .card {
    margin-right: 10%;

  }

  #main {
    height: 80vh;
  }
}